[user]
	email = ctran156@calpoly.edu
	name = Casey Tran

[alias]
	a = add .

	c = commit
	ca = commit --a
	cm = commit -m
	cam = commit -am
	cd = commit --amend
	cdm = commit --amend -m

	cl = clone
	clr = clone --recursive

	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	ps = push
	pl = pull --recurse-submodules

	r = reset
	rhd = reset HEAD
	rh = reset --hard
	rs = reset --soft

	s = status
	d = diff
	ds = diff --staged

	subadd = submodule add
	subup = submodule update --init --recursive
	subsync = submodule sync --recursive

[diff]
	renames = copies

