stow/bash/.bashrc
stow/bash/.config/bash/.bash_local

stow/cron

stow/readline/.inputrc

stow/tmux/.config/tmux/plugins
stow/tmux/.config/tmux/local.tmux

stow/vim/.vim/.netrwhist
stow/vim/.vim/.viminfo
stow/vim/.vim/undo
