[user]
	email = ctran156@calpoly.edu
	name = Casey Tran

[init]
	defaultBranch = main

[diff]
	renames = copies
	colorMoved = default

[submodule]
	recurse = true

[alias]
	a = add
	ac = add .
	aa = add -A
	au = add -u

	c = commit -m
	ca = commit -am
	cr = commit --amend -m

	cl = clone
	clr = clone --recursive

	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	ps = push
	pl = pull --recurse-submodules

	r = reset
	rhd = reset HEAD
	rh = reset --hard
	rs = reset --soft

	s = status
	d = diff
	ds = diff --staged

	subadd = submodule add
	subup = submodule update --init --recursive
	subsync = submodule sync --recursive
